body {
	color: white;
	background-color: black;
	font-family: sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

/*a:link {
	color: cyan;
}

a:visited {
	color: lime;
}

a:hover {
	color: blue;
}*/

#header {
	text-align: center;
	/*background-color: gray;*/
	/*border: 1px dashed white;*/
	margin: 1px;
	padding-bottom: 5px;
}

#header h1 {
	margin: 5px;
	font-size: 3em;
}

#header ul li {
	background-color: #87cefa;
	display: inline;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#search {
	text-align: center;
	margin-top: 10px;
}

#serebiiFrame {
	height: 1000px;
	margin-bottom: 10px;
	float: left;
}

#bulbapediaFrame {
	height: 1000px;
	margin-bottom: 10px;
	float: right;
}

#footer {
	text-align: center;
	margin: 10px;
	clear: both;
}